h2{
  font-size:xx-large;
}

/* Setting default margin and setting height of HTML and body*/
html, body {
  margin: 0;
  height: 100%;
}

/* Global styles for all elements */
* {
  font-family: "Raleway"; /* Sets the font family */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}
video{
  width: 900;
}
img{
  width: 400;
}
/* Styles for the top navigation bar */
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0; /* Fallback background color */
  background: linear-gradient(to left, #f46b45, #eea849); /* Gradient background */
  color: #FFF; /* Text color */
  height: 50px; /* Height of the navigation bar */
  padding: 1em; /* Padding around the content inside the navigation bar */
}

/* Styles for the menu list */
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none; /* Removes default list styling */
  margin: 0;
  padding: 0;
}

/* Styles for menu items */
.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

/* Styles for the menu button container */
.menu-button-container {
  display: none; /* Initially hidden on larger screens */
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styles for the menu toggle checkbox */
#menu-toggle {
  display: none; /* Hides the checkbox */
}

/* Styles for the menu button and its pseudo-elements */
.menu-button, .menu-button::before, .menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

/* Styles for the menu button pseudo-elements */
.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

/* Styles for the menu button animation when checked */
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* Media query for screens up to 700px width */
@media (max-width: 1200px) {
  .menu-button-container {
    display: flex; /* Displays the menu button on smaller screens */
  }
  
  /* Styles for the menu on smaller screens */
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  /* Styles for menu items when the toggle is checked */
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  /* Styles for menu items on smaller screens */
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  
  /* Styles for the last menu item on smaller screens */
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .main-box {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .aside1 {
    grid-column: 1 / 4;
    grid-row: 2;
  }

  .secondary-box {
    grid-column: 1 / 4;
    grid-row: 3;
  }

  .aside2 {
    grid-column: 1 / 4;
    grid-row: 4;
 
  }
  video{
    width: auto;
  }
}

/* Styles for the navigation buttons */
.navigation-button {
  display: inline-block;
  padding: 3px 20px;
  height: 25px;
  width: 200px;
  color: #515151;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  animation: colorChangeButton 5s infinite;
}

/* Hover effect for navigation buttons */
.navigation-button:hover {
  background-color: #515151;
  color: #ffffff;
  transform: scale(1.1);
}

/* Styles for activated/selected navigation buttons */
.navigation-button-activated {
  display: inline-block;
  padding: 3px 20px;
  height: 25px;
  width: 200px;
  background-color: #8e8d8d;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
/* Define a keyframe animation called colorChange */
@keyframes colorChangeText {  /*Textcolor*/
  0% { color: red; }        /* At the beginning of the animation (0%), set the color to red */
  25% { color: blue; }      /* At 25% of the animation duration, change the color to blue */
  50% { color: green; }     /* At 50% of the animation duration, change the color to green */
  75% { color: orange; }    /* At 75% of the animation duration, change the color to orange */
  100% { color: purple; }   /* At the end of the animation (100%), set the color to purple */
}
.color-changing {
  /* Use the "colorChange" animation defined above */
  animation: colorChangeText 5s infinite;
}
@keyframes colorChangeButton {         /*Background and text for the buttons*/
  0% { background-color: red; }      /* At the beginning of the animation (0%), set the background color to red */
  0% { color: blue; } 
  25% { background-color: blue; }    /* At 25% of the animation duration, change the background color to blue */
  25% { color: red; }
  50% { background-color: green; }   /* At 50% of the animation duration, change the background color to green */
  50% { color: purple; }
  75% { background-color: orange; }  /* At 75% of the animation duration, change the background color to orange */
  75% { color: green; }
  100% { background-color: purple; } /* At the end of the animation (100%), set the background color to purple */
  100% { color: orange; } 
}

@keyframes spin{ /* Borrowed from https://www.google.com/search?q=make+a+png+spin+html&sca_esv=583612193&sxsrf=AM9HkKl8zd8JgIq93Jx0Z8LkDKGZIOijaw%3A1700311056949&ei=ELBYZd3GOdOmwPAP39iikA8&ved=0ahUKEwjdjrqkyM2CAxVTExAIHV-sCPIQ4dUDCA8&uact=5&oq=make+a+png+spin+html&gs_lp=Egxnd3Mtd2l6LXNlcnAiFG1ha2UgYSBwbmcgc3BpbiBodG1sMgUQIRigATIFECEYoAEyCBAhGBYYHhgdSJoSUMMGWJ8QcAF4AZABAJgBb6ABhgOqAQM0LjG4AQPIAQD4AQHCAgoQABhHGNYEGLADwgIGEAAYFhgewgIKECEYFhgeGA8YHeIDBBgAIEGIBgGQBgg&sclient=gws-wiz-serp#kpvalbx=_FbBYZZnwEKK1wPAPsKCbyAQ_28*/
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
.spin{
  animation: spin 2s infinite;
}
.wrapper{
  display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(100px, auto);
}
.main-box {
  grid-column: 1 / 3;
  grid-row: 1 ;
  }
  .aside1 {
    grid-column: 3 / 4;
    grid-row: 1;
    }
  .secondary-box {
  grid-column: 1 / 2;
  grid-row: 2;
  }
  .aside2 {
    grid-column: 3 / 4;
    grid-row: 2;
    }
  