/* Styles for HTML and body elements */
html,body {
    margin: 0;
    height: 100%;
    background-color: #E5E4E2;
}

body {
    padding: 1%;

}

/*Styles for titles and*/
* {
    font-family: 'Times New Roman', Times, serif;
}

h1,h2 {
    text-align: center;
}

h1 {
    font-size: xx-large;
}

.navigation-button {
    /* Style for the button with the class "animated-button" */
    display: inline-block;
    padding: 3px 20px;
    /*Alignment of text in button*/
    height: 25px;
    /*Buttonheight size*/
    width: 200px;
    /*Buttonlenght size*/
    background-color: rgba(234, 211, 12, 0.849);
    /* Background color when not hovered */
    color: #515151;
    /*Textcolor*/
    border: none;
    /*Outline of the button*/
    border-radius: 10px;
    /*Roundness of edge*/
    font-size: 16px;
    /*Size of text*/
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    /*Time used for transition*/
}

.navigation-button:hover {
    /*What happens when pointer is over button*/
    background-color: #515151;
    color: #ffffff;
    transform: scale(1.1);
}

.navigation-button-activated {
    /* Style for the button with the class "animated-button" when on this page */
    display: inline-block;
    padding: 3px 20px;
    /*Alignment of text in button*/
    height: 25px;
    /*Buttonheight size*/
    width: 200px;
    /*Buttonlenght size*/
    background-color: #8e8d8d;
    /* Background color when not hovered */
    color: #ffffff;
    /*Textcolor*/
    border: none;
    /*Outline of the button*/
    border-radius: 10px;
    /*Roundness of edge*/
    font-size: 16px;
    /*Size of text*/
    cursor: pointer;
}

.buttonwrapper {
    /*Defining properties of layout grid for placing buttons*/
    display: grid;
    grid-template-columns: auto repeat(5, minmax(200px, 220px)) auto;
    grid-auto-rows: minmax(100px, auto);
}

.top-box-left {
    grid-column: 2/3;
    grid-row: 1;

}

.top-box-middle-left {
    grid-column: 3/4;
    grid-row: 1;
}

.top-box-middle {
    grid-column: 4/5;
    grid-row: 1;
}

.top-box-middle-right {
    grid-column: 5/6;
    grid-row: 1;
}

.top-box-right {
    grid-column: 6/7;
    grid-row: 1;
}

.mainwrapper {
    /*Defining properties of layout grid for text and images*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.main-box {
    grid-column: 1 / 3;
    grid-row: 1;
}
.aside {
    grid-column: 3 / 4;
    grid-row: 1;
}

.accesswrapper {
    /*Defining properties of layout grid for text and images*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.text-1st, .text-2nd, .photo-1st, .photo-2nd {
    padding: 10px;
}

.text-1st {
    grid-column: 1;
    grid-row: 2;
}

.text-2nd {
    grid-column: 2;
    grid-row: 2;
}

.photo-1st {
    grid-column: 1;
    grid-row: 1;
}

.photo-2nd {
    grid-column: 2;
    grid-row: 1;
}

.goodimg1 {
    grid-column: 1;
    grid-row: 3;
}

.goodimg2 {
    grid-column: 2;
    grid-row: 3;
}

.img {
    max-width: 200%;
    border: 2px solid #000;
    object-fit: cover;
    /* Ensures the image covers the entire container */
}

.accessimg {
    max-width: 800px;
    max-height: 600px;
    border: 2px solid #000;
}

#p35picture {
    content: url(../png/hoved_inngang.jpg)
}

#logopicture {
    content: url("../png/pilestredet.jpg");
}

#canteen1picture {
    content: url(../png/p35spiseri.jpg)
}

#canteen2picture {
    content: url("../png/p35spiseri3.jpg");
}

#helsetjenester {
    content: url("../png/helsetjenester.jpg");
}

@media (max-width:700px) { /*Change at spesific screen size*/
    .top-box-middle-right { /*Rearanging of boxes*/
        grid-column: 2/3;
        grid-row: 2;
    }

    .top-box-right {
        grid-column: 3/4;
        grid-row: 2;
    }

    .img {
        filter: saturate(50%);
    }

    #p35picture { /*Smaller pictures, differen formfactor*/
        content: url(../png/P35Crop.png)
    }

    #logopicture {
        content: url("../png/pilestredet-crop.png");
    }

    #canteen1picture {
        content: url(../png/p35spiseri-crop.png)
    }

    #canteen2picture {
        content: url("../png/p35spiseri3-crop.png");
    }

    #helsetjenester {
        content: url("../png/helsetjenester.jpg");
    }
}