.navigation-button {
    /* Style for the button with the class "animated-button" */
    display: inline-block;
    padding: 5px 20px; /*Alignment of text in button*/
    background-color: rgba(234, 211, 12, 0.849); /* Background color when not hovered */
    color: #ffffff; /*Textcolor*/
    border: none; /*Outline of the button*/
    border-radius: 10px; /*Roundness of edge*/
    font-size: 16px; /*Size of text*/
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .navigation-button:hover {
    background-color: #2980b9;
    transform: scale(1.1);
  }

  /*
    background-image: url(https://kommunikasjon.ntb.no/data/images/00743/c93f56e0-13b9-47ba-a133-3f70c3b60744-w_960.jpg);
    background-size: cover;
    width: minmax(auto, 80vw);
    height: 40vw;
    max-height: 530px;
    background-color: rgb(158, 232, 241);